// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Global Variables
$background: #f2f2f2;
$white: #ffffff;
$accent-blue: #65c1d4;
$font-main: #000000;
$font-form: #9b9b9b;

// Global Mixins
@mixin default-section {
	background-color:$white;
	margin: 30px auto;
	padding: 20px 40px;
	width: 90%;
}

@mixin filter-inputs {	
	border: none;  
	height: 55px;
	line-height: 55px;
	padding: 0 15px;
	border-bottom: 2px solid black;  
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15)
}


body {
	font-family: 'Roboto', sans-serif;
	color: $font-main;
	background-color: $background;
}

.f-left{
	float: left;
}
.clear-fix:after {
	content: "";
	display: table;
	clear: both;
}


@mixin arrow {
	border: solid $accent-blue;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
}
.arrow-up {
	@include arrow;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.arrow-down {
	@include arrow;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
