
h1 {
    text-align:center;
    margin: 30px auto;
    font-size: 36px;
}

header {
	// display: block;
	// width: 100vw;
	// min-height: 20px;
    @include default-section;

    input[type=button]{
        background-color: $accent-blue;
    }
    fieldset{
        .formrow{
            width: 140px;
            float: left;
        }
	}
}

