main {  
	// margin: 80px auto 0 auto;
	@include default-section;
	
	.block {
		&:not(:last-child){
			border-bottom: 1px solid black;
		}
		
		.raport-info{
			width: 20%;
		}
	
		.raport{
			width: 80%;
		}
	


	}

}

