main {  
	// margin: 80px auto 0 auto;
	@include default-section;
	
	.block {
		padding: 15px 0;
		&:not(:last-child){
			border-bottom: 1px solid black;
		}
		
		.raport-info{
			width: 20%;
		}
	
		.raport{
			width: 80%;

			a{
				display: block;
			}
		}
	}
}

