main {  
	// margin: 80px auto 0 auto;
	@include default-section;
	
	.block {
		padding: 15px 26px;
		
		&:not(:last-child){
			border-bottom: 1px solid #9b9b9b;
		}
		
		.date-category {
			width: 20%;

			p:last-child {
				margin-top:20px;
			}
		}
	
		.title-description-files {
			width: 80%;

			h2{
				font-size: 26px;

			}

			> p {
				margin: 16px 0 20px;
			}

			a {
				display: block;
				position: relative;
				margin-bottom: 17px;
				color: $accent-blue;
				font-size: 18px;
				cursor: pointer;

			}

			.files{
				margin-left: 22px;
				
				.toggle-files{
					display: inline;					
				}
			}

		}
	}
}

